@import 'tailwindcss';

@theme {
  --animate-spin-slow: spin 1.4s linear infinite;
  --animate-loader-path: loader-path 1.4s ease-in-out infinite;
  --animate-pulse-brightness: pulse-brightness 3s ease-in-out infinite;

  @keyframes loader-path {
    0% {
      stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
    50% {
      stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
    }
    100% {
      stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
    }
  }
  @keyframes pulse-brightness {
    0% {
      filter: brightness(0.9);
    }
    50% {
      filter: brightness(1.2);
    }
    100% {
      filter: brightness(0.9);
    }
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  font-size: 62.5%;
  height: 100%;
}

a {
  text-decoration: none;
}

/* Remove scrollbar */
div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Remove default blue background in input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
